
snippet scalablock "Insert scala codeblock" b
\`\`\`scala
$0
\`\`\`
endsnippet

snippet javablock "Insert java codeblock" b
\`\`\`java
$0
\`\`\`
endsnippet


snippet rblock "Insert java codeblock" b
\`\`\`R
$0
\`\`\`
endsnippet

snippet flashcard "Obsidan_to_anki template" b
START
Basic
$1

Back: 
$0

END
endsnippet
# vim:ft=snippets
